{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% csrf_token%}

  <div class="container m-5">
    {% comment %} <table class="table m-5">
      <thead>
        <tr>
          <th>번호</th>
          <th>구군</th>
          <th>PH</th>
        </tr>
      </thead>
      <tbody>
        {% for i, w in water %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ w.구군 }}</td>
            <td>{{ w.ph }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table> {% endcomment %}
    <h3>구군별 수질(ph 농도)</h3>
    <img src="{% get_static_prefix %}images/{{img_data}}" width="600" height="400">
  </div>
{% endblock %}
